

/* ==========================================================================
   Author's custom styles
   ========================================================================== */








.contact-us{
	text-align: center;
}

.form-control{
	width: 50%;
}

#exampleInputMessage{
	height:90px;
}

.showmorebutton{
	text-align: center;

}










