

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* Nav Bar */

.top-part{

	background-color: #A3D2DA;
}



.navbar{
    margin-left: 9px;
}


.navbar-brand b{
    font-family: 'Montserrat', sans-serif;
}

.navbar a{
    color:black;
}


.nav-pills{
    margin-left: 30px;
    font-size: 9px;
    font-family: 'Montserrat', sans-serif;
}



.nav-pills a{
    margin-top: 6px;
    color:black;
    font-family: 'Montserrat', sans-serif;
}



/* Carousel */



.carousel-inner img{
    margin-left: 600px;
}

.carousel-inner h2{
    text-align: center;
    color:white;
    margin-top: 30px;
    margin-left: -176px;

}

.carousel-indicators{
    position:absolute; 
    left: 590px; 
    top: 220px;

}

.carousel-text{
    position:absolute; left: 500px; top:40px"



}



/*Three Ideas */
.three-options{

    margin-bottom: 40px;

}


.three-options img{
	display: block;
	margin-right:auto;
	margin-left:auto;
	margin-top: 40px;
}

.three-options h4{
	text-align: center;

}


.three-options p{
	text-align: center;

}


/*Recent Works */


.recent-works{
	background-color: #99D2A5;
	height: 658px;
    padding-top: 31px;

}


.recent h4{
	color: white;
	text-align: center;
	font-size: 40px;
	background-color: #99D2A5;
    font-family: 'Montserrat', sans-serif;
}

.recent p{
	background-color: #99D2A5;
	color:white;
	text-align: center;
    font-family: 'Montserrat', sans-serif;

}

.work-options{
	margin-top: 30px;
	margin-bottom: 30px;
}




.work-options ul{
	list-style-type: none;
	margin-left: 28%;
}

.work-options li{
	display: inline;
	text-align: center;
	margin-left: 46px;
    text-decoration: none;
    color:white;
}

.work-options a{
    color:white;

}






.work-pics{
	text-align: center;
}

.first-pic-row{
	margin-bottom: 30px;

}


.showmore-pic-button{
	margin-top:30px;
	margin-bottom:30px;
	margin-left: 46%;
	color:#706969;


}


/*Photoshop Templates*/
.templates{
    height: 550px;

}


.template1 {
    padding-left: 186px;
    margin-top: 40px;

}


.template2 img{
    float: left;
    margin-left: 570px;
    margin-top:-138px;



}


.template2 h4{
    float: left;
    margin-left: 167px;

}

.template2 p{
    float: left;
    margin-left: 167px;

}

.template2 button{
    margin-left: 25px;

}


/* Meet Our Team */

.meet{
	background-color: #DEB5C5;

}

.meet h3{
	text-align: center;
	font-size: 40px;
	color:white;
    font-family: 'Montserrat', sans-serif;
}

.meet p{
	text-align: center;
	color:white;
    font-family: 'Montserrat', sans-serif;

}




.john-smiths{
	text-align: center;


}

.john-smiths p{
	color:black;
}

.john-background h4{
	background-color: white;
	
}

.john-background h5{
    background-color: white;
    
}

.john-background p{
    background-color: white;
    
}

.john-background li{
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
}


.meet-card{
    margin: -10px 87px 0 85px; 
    background-color: #fff;
}

.meet-icons{
    margin-left: -35px;

}





/* Recent Posts */

.recent-post{
	background-color: #C0C0C0;
	height: 550px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
}

.recent-post h3{
	text-align: center;
	font-size: 40px;
	color:white;
    font-family: 'Montserrat', sans-serif;
}

.recent-post p{
	text-align: center;
	color:white;
    font-family: 'Montserrat', sans-serif;
}

.recent-post-sections{
	text-align: center;

}

.interesting-post-button{
	margin-top:30px;



}



/* Contact Us */

.contact-us{
	text-align: center;
	background-color: #3C3C3C;
	padding-top: 30px;

}

.contact-us h3{
	color:white;
	font-size: 40px;
	margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;

}

.form{
    text-align: center;
    width:70%;
}

/*.form-group{
	margin-left: 778px;
 

}*/

.form-control{
    width:40%;
    margin-left: 32%;

	
}

#exampleInputMessage{
	height:90px;
}

.showmorebutton{
	text-align: center;

}

/*Footer*/
footer{
    margin-bottom: 30px;
}

.icons li{
    text-decoration: none;
    display: inline-block;

}

.icons a{
    margin-left: 10px;
    color: #787878;
    border-radius: 5px;

}


.bloom{
    color: #F5DD25;

}

.wordpress{
    color: #F5DD25;
}

.copyright{
    color:#9F9E95;


}



