

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* Nav Bar */

.top-part{

	background-color: #A3D2DA;
}

/*.carousel-inner{
    width: 200px;

}*/



.carousel-inner img{
    margin-left: 600px;
}

.carousel-inner h2{
    text-align: center;
    color:white;
    margin-top: 30px;
    margin-left: -176px;

}






/*Three Ideas */
.three-options{

margin-bottom: 40px;

}


.three-options img{
	display: block;
	margin-right:auto;
	margin-left:auto;
	margin-top: 40px;
}

.three-options h4{
	text-align: center;

}


.three-options p{
	text-align: center;

}


/*Recent Works */


.recent-works{
	background-color: #99D2A5;
	height: 658px;

}

.recent h4{
	color: white;
	text-align: center;
	font-size: 40px;
	background-color: #99D2A5;
}

.recent p{
	background-color: #99D2A5;
	color:white;
	text-align: center;

}

.work-options{
	margin-top: 30px;
	margin-bottom: 30px;
}


.work-options ul{
	list-style-type: none;
	margin-left: 28%;
}

.work-options li{
	display: inline;
	text-align: center;
	margin-left: 46px;
	color:white;
}






.work-pics{
	text-align: center;
}

.first-pic-row{
	margin-bottom: 30px;

}


.showmore-pic-button{
	margin-top:30px;
	margin-bottom:30px;
	margin-left: 46%;
	color:#706969;


}


/*Photoshop Templates*/
.templates{
    height: 550px;

}


.template1 {
    padding-left: 186px;
    margin-top: 40px;

}


.template2 img{
    float: left;
    margin-left: 570px;
    margin-top:-138px;



}


.template2 h4{
    float: left;
    margin-left: 167px;

}

.template2 p{
    float: left;
    margin-left: 167px;

}

.template2 button{
    margin-left: 25px;

}



















/* Meet Our Team */

.meet{
	background-color: #DEB5C5;

}

.meet h3{
	text-align: center;
	font-size: 40px;
	color:white;
}

.meet p{
	text-align: center;
	color:white;

}

.john-smiths{
	text-align: center;


}

.john-smiths p{
	color:black;
}

.john-background h4{
	background-color: white;
	
}

.john-background h5{
    background-color: white;
    
}

.john-background p{
    background-color: white;
    
}





/* Recent Posts */

.recent-post{
	background-color: #53DEF0;
	height: 488px;
}

.recent-post h3{
	text-align: center;
	font-size: 40px;
	color:white;
}

.recent-post p{
	text-align: center;
	color:white;
}

.recent-post-sections{
	text-align: center;

}

.interesting-post-button{
	margin-top:30px;



}




/*SOCIL MEDIA ICONS BEGIN*/

@font-face {
    font-family: 'si';
    src: url('PATH_TO/socicon.eot');
    src: url('PATH_TO/socicon.eot?#iefix') format('embedded-opentype'),
         url('PATH_TO/socicon.woff') format('woff'),
         url('PATH_TO/socicon.ttf') format('truetype'),
         url('PATH_TO/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(PATH_TO/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 43px;
    height: 43px;
    line-height: 43px;
    font-size: 23px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-right: 9px;
    color: #ffffff;
    background-color: none;
}

.soc a:hover {
    z-index: 2;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter:before {
    content:'a';
}
.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook:before {
    content:'b';
}
.soc-pinterest {
    background-color: #c92619;
}
.soc-pinterest:before {
    content:'d';
}

/*SOCIAL MEDIA ICONS END*/


/* Contact Us */

.contact-us{
	text-align: center;
	background-color: #3C3C3C;
	padding-top: 30px;

}

.contact-us h3{
	color:white;
	font-size: 40px;
	margin-bottom: 30px;

}

.form-group{
	margin-left: 778px;
 

}

.form-control{
    width:40%;
    margin-left: 139px;

	
}

#exampleInputMessage{
	height:90px;
}

.showmorebutton{
	text-align: center;

}

/*Footer*/

.verybottom{
   float:right;

}

.bloom{
    color: #F5DD25;

}

.wordpress{
    color: #F5DD25;
}

.copyright{
    color:#9F9E95;


}



